# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
revisionHistoryLimit: 1
fullnameOverride: ""
image:
  repository: repo
  tag: mytag
  pullPolicy: IfNotPresent
  resources: {}
    # requests:
    #   cpu: 200m
  #   memory: 300Mi
  #  readinessProbe: {}
  # Example (replace readinessProbe: {} with the following):
  readinessProbe:
    httpGet:
      path: /ready
      port: 3000
    initialDelaySeconds: 3
    periodSeconds: 5
  #  livenessProbe: {}
  #  # Example (replace livenessProbe: {} with the following)::
  livenessProbe:
    httpGet:
      path: /live
      port: 3000
    initialDelaySeconds: 40
    periodSeconds: 10
service:
  name: Node
  type: ClusterIP
  servicePort: 80
  targetPort: 80
  # name: Node
  # type: NodePort
  # servicePort: 3000

postgres:
  db: "oip-api"
  host: "postgres"
  replicaHost: ""
  user:
    value: ""
    fromSecret:
      name: ""
      key: ""
  password:
    value: ""
    fromSecret:
      name: ""
      key: ""

ingress:
  enabled: false
  annotations: {}
    # cert-manager.io/cluster-issuer: cluster-issuer
  # kubernetes.io/ingress.class: nginx
  hosts:
    - oip-api.local
  tls:
    - hosts:
        - oip-api.local
      secretName: oip-api-tls

config:
  appSecretKey: "APP_SECRET"
  appSecretName: "my-secret"
  extraEnvVars:
    TEST: "this"
  blockchain:
    enabled: false
    mina:
      pvKeySecretKey: "PV_KEY"
      pvKeySecretName: "mina-secrets"
  defaultPassword: changepassword